@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --teks: #000000;
    --navbar: #F1F4F9;
    --primary: #567FBE;
    --inactive: #D8D8D8;
    --background: #FFFFFF;
}


/* navbar */

.navbar-custom {
    background-color: var(--navbar) !important;
}

.navbar-brand img {
    height: 1.4em;
}

.nav>.nav-item {
    margin: 0 0 0 .8em;
}

.nav .nav-item>a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: .9em;
    color: var(--inactive);
}

.nav .nav-item>a.active {
    color: var(--primary);
    border-bottom: 4px solid var(--primary);
}


/* navbar */


/* box status */

.container-custom {
    min-height: 100vh;
}

.col-sm-5>.card-body {
    height: 5em;
    margin-bottom: 2em;
}

.col-sm-5>.box-feed {
    height: 40em;
}

.col-sm-5 .box-status {
    height: 5em;
    width: 100%;
    overflow-y: hidden;
    background-color: var(--background);
    box-shadow: 0px 4px 10px rgba(136, 161, 201, 0.25);
}

.box-status>.box-wrapper {
    height: 90%;
    width: 3em;
    margin: 1.5% 1% 1% 2%;
}

.box-wrapper>.circle-status {
    display: flex;
    height: 3em;
    width: 3em;
    border: 1px solid var(--primary);
    border-radius: 30px;
}

.box-wrapper .circle-status>img {
    height: 2.6em;
    width: 2.6em;
    border-radius: 30px;
}

.box-wrapper>.name-user {
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    font-size: .8em;
    color: var(--teks);
}


/* box status */


/* box upload */

.box-feed .box-upload .nav>img {
    height: 2.5em;
    width: 2.5em;
    margin-top: 1%;
    border-radius: 1.6em;
}

.box-upload .nav {
    background-color: var(--navbar);
    cursor: pointer;
}

.box-upload .nav>img {
    margin: 0 .5em;
}

.box-upload .nav>.box-name {
    width: 86%;
}

.box-upload>img {
    width: 100%;
    height: 24em;
}

p.name {
    margin-top: .6em;
}


/* box upload */


/* box suggestion friends */

.col-sm-4>.box-suggest {
    padding: 4% 2%;
    height: 18em;
    width: 100%;
    background: var(--background);
    box-shadow: 4px 4px 10px rgba(136, 161, 201, 0.3);
}

.box-account>.box-wrapper-suggest {
    height: 3em;
}

.box-account .box-wrapper-suggest>img {
    height: 2.6em;
    width: 2.6em;
    border-radius: 30px;
}

.box-account .box-wrapper-suggest .box-descrip-suggest-user>.username {
    color: var(--teks);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: .8em;
}

.box-account .box-wrapper-suggest .box-descrip-suggest-user>.fullname {
    margin-top: -3%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: .7em;
    color: var(--inactive);
}

.box-account .dropdown .btn>p.switch-account,
.box-account-friend>.follow-account {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: .8em;
    color: var(--primary);
    cursor: pointer;
}

.suggest-typography>.heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: .9em;
    color: var(--inactive);
}

.suggest-typography>.more {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: .8em;
    cursor: pointer;
}

.box-account-friend {
    height: 3em;
}

.box-account-friend .box-wrapper-suggest img {
    height: 2em;
    width: 2em;
    border-radius: 30px;
}

.box-account-friend .box-wrapper-suggest .box-descrip-suggest-user>.username {
    color: var(--teks);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: .7em;
}

.box-account-friend .box-wrapper-suggest .box-descrip-suggest-user>.fullname {
    margin-top: -3%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: .6em;
    color: var(--inactive);
}


/* box suggestion friends */